h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	text-align: center;
	margin: 0;

	&::selection {
		background-color: $white;
		color: $accent;
	}
}

h1, .h1 {
	font-size: 32px;
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;

	@media all and (min-width: $lg) {
		font-size: 72px
	}
}

h2, .h2 {
	font-size: 24px;

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

h3, .h3 {
	font-size: 30px
}

h4, .h4 {
	font-size: $fs-xl;

	@media all and (min-width: $lg) {
		font-size: 24px
	}
}

a {
	display: inline-block;
	text-decoration: none;
	transition: color ease-out $tr;

	&:hover {
		color: $accent;
	}

	&::selection {
		background-color: $white;
		color: $accent;
	}
}

p {
	margin: 0;

	&::selection {
		background-color: $white;
		color: $accent;
	}
}

div {
	&::selection {
		background-color: $white;
		color: $accent;
	}
}

b, strong {
	font-weight: $fw-bold
}