.header {
	background-color: $black;
	padding: 20px 0;

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-inst {
		display: flex;
		align-items: center;
		width: 2%;
		margin-right: auto;
		transition: opacity ease $tr;
		display: none;

		&:hover {
			opacity: $op;
		}

		@media all and (min-width: $lg) {
			display: flex;
		}
	}

	&-logo {
		display: block;
		width: 100%;
		margin: 0 50px;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}

		&.mobile-logo {
			margin: 0;

			@media all and (min-width: $lg) {
				display: none;
			}
		}
	}

	&-nav-wrapper {
		display: none;
		align-items: center;
		margin-right: auto;

		@media all and (min-width: $lg) {
			display: flex;
		}
	}

	&-nav-left, &-nav-right {
		display: none;

		@media all and (min-width: $lg) {
			display: flex;
		}
	}

	&-nav-link {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-bold;
		font-size: 16px;
		line-height: 130%;
		color: $white;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $accent;
		}

		@media all and (min-width: $xl) {
			margin-right: 80px;
			font-size: 18px;
		}

		&.mobile-nav-link {
			margin-right: 0;

			@media all and (min-width: $lg) {
				display: none;
			}
		}
	}
}