.footer {
	padding: 30px 0;
	background-color: $black;

	&-wrapper {
		display: flex;
		flex-direction: column;
		position: relative;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: -15px;
			left: 50%;
			transform: translateX( -50% );
			z-index: 10;
			background-color: $white;
		}
	}

	&-logo {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		transition: opacity ease $tr;

		@media all and (min-width: $lg) {
			margin-right: 50px;
		}

		&:hover {
			opacity: $op;
		}
	}

	&-title {
		font-family: $ff;
		font-weight: $fw-regular;
		font-size: 25px;
		line-height: 130%;
		color: $white;
		margin-bottom: 15px;
	}

	&-cols {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $lg) {
			width: calc( 100% - 60px );
			flex-direction: row;
		}
	}

	&-col {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		@media all and (min-width: $lg) {
			width: 33.333%;
			align-items: flex-start;
		}
	}

	&-row {
		font-family: $ff;
		font-weight: $fw-regular;
		font-size: 18px;
		line-height: 130%;
		color: $white;
	}

	address {
		text-align: center;

		@media all and (min-width: $lg) {
			text-align: left;
		}
	}
}

.copyright {
	color: $white;
	text-align: center;
	font-weight: $fw-regular;
	margin-top: 30px;
}